@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap');

*, *:before, *:after {
    font-family: 'Poppins';

}

.delete_icon {
    cursor: pointer;
}
.delete_icon:hover {
    transform: translateY(5px);
    transition: 0.2s ease-in-out;
}

.details_text {
    display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.posted_text {
    font-size: 11px;
}

.comment_input {
    box-shadow: rgb(0, 0, 0) 7px 8px, rgb(78, 76, 76) 13px 15px;
}
.image_details {
    box-shadow:  rgb(53, 54, 54) 10px 10px;
}

.date_text {
    font-size: 14px !important;
    font-style: italic;
}

.note_message {
    font-size: 15px;
    font-style: italic;
}

.likes_count,.comments_count {
    font-size: 14px;
}

.send_icon:hover{
    transform: translateX(5px);
    transition: 0.2s ease-in-out;
}

.bg_image {
    background-size: cover !important;

}
.bg_text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bg_button {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.a {
    position: relative;
}

.a:after {
    content: "";
    position: absolute;
    background-color: rgb(19,181,208);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -0.1px;
    transition: 0.3s;
}

.d{
    position: relative;
}
.d:after {
    content: "";
    position: absolute;
    background-color: rgb(19,181,208);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -0.1px;
    transition: 0.3s;
}

.a:hover:after {
    width: 100%;
}
.home_property_display,.property_display {
    box-shadow: rgb(33,37,41) 7px 9px;
}
.underline_featured {
    position: relative;
    padding-bottom: 10px;

}
.underline_featured::after {
    content: "";
    height: 3px;
    width: 20%;
    position: absolute;
    background-color: black;
    left: 40%;
    bottom: 0;
   
}
.underline_sure {
    position: relative;
    padding-bottom: 10px;

}
.underline_sure::after {
    content: "";
    height: 3px;
    width: 20%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 40%;
    bottom: 0;  
}
.underline_dashboard {
    position: relative;
    padding-bottom: 1px;

}
.underline_dashboard::after {
    content: "";
    height: 3px;
    width: 11%;
    position: absolute;
    background-color: rgb(0, 0, 0);
    left: 45%;
    bottom: 0;  
}
.underline_available {
    position: relative;
    padding-bottom: 6px;

}
.underline_available::after {
    content: "";
    height: 3px;
    width: 15%;
    position: absolute;
    background-color: rgb(0, 0, 0);
    left: 43%;
    bottom: 0;  
}

.gear_icon:hover {
    transform: rotate(-90deg);
    transition: 0.3s ease-in-out;
}
.security_icon:hover {
    animation: shake 0.60s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(0, -1px, 0);
    }
    20%, 80% {
      transform: translate3d(0, 2px, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(0, -1px, 0);
    }
    40%, 60% {
      transform: translate3d(0, 2px, 0);
  }
}
.home_icon:hover {
    transform: translateX(10px);
    transition: 0.5s ease-in-out;
}

