@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.l_title {
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 2px;
  text-shadow: 0 0 3px #2d94c4;
}
.l_text {
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 1px;
}
.jumbotron {
  background-image: url("./pictures/sapmle.jpg");
  background-size: cover;
  border-radius: 0% !important;
}
.about:hover, .home:hover, .tips:hover {
text-decoration:underline !important;
}
.nav_style {
  text-decoration: underline;
}
.brand:hover {
 transform: rotateZ(-359deg);
 transition: 0.6s;
}
.card_info:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
footer {
  text-align: center;
}
.figure {
  overflow: hidden;
}
.card_img {
  transform: scale(1);
  transition: 0.9s ease-in-out;
} 
.card_img:hover {
  transform: scale(1.5);
  border: 1px solid;
}
.spml{
  cursor: pointer;
}
.dialog {
  box-shadow: 0 8px 6px -6px black;
  position: static;
  left: 20%;
  top: 10%;
}

.image {
  width: 300px;
}
.modl {
  width: 750px !important;
  margin: auto !important;
}

.apartment_bg {
  background-image: linear-gradient(to top, #a4b0d2, #d5d6e8);
}
.apartment_img {
  cursor: pointer;
}
/*Navbar burger*/
.close_navbar {
  font-size: 30px;
  color: rgb(0, 0, 0);
}
.open_navbar {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.search_icon:hover {
  transform: scale(2);
  transition: 0.3s ease-in-out;
  margin-left: 15px !important;
}

.apartment_info {
  border-radius: 20px !important;
}

/* ApartmentPagination */

 .paginationBttns {
   width: 80%;
   height: 40px;
   margin-left: 40px;
   margin-top: 20px;
    list-style: none;
   display: flex;
   justify-content: center;
 padding-bottom: 60px;

}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}
.paginationBttns a:hover {
  background-color: #ffffff;
 
}
.previousBttn, .nextBttn {
  text-decoration: none !important;
}
.activeBttn {
  background-color: #ffffff;
}
.container_paginate {
  padding-bottom: 60px;
}

.location_text {
  font-weight: bold;
}

.list_border {
  border: 1px solid black;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.img_border {
  border: 1px;
  box-shadow: rgb(49, 48, 48) 10px 9px,rgb(23,162,184) 20px 20px;
}

/* ReturnBttn */
.return_bttn {
  cursor: pointer;
}