@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap');

*, *:before, *:after {
    font-family: 'Poppins';

}

.delete_icon {
    cursor: pointer;
}
.delete_icon:hover {
    transform: translateY(5px);
    transition: 0.2s ease-in-out;
}

.details_text {
    display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.posted_text {
    font-size: 11px;
}

.comment_input {
    box-shadow: rgb(0, 0, 0) 7px 8px, rgb(78, 76, 76) 13px 15px;
}
.image_details {
    box-shadow:  rgb(53, 54, 54) 10px 10px;
}

.date_text {
    font-size: 14px !important;
    font-style: italic;
}

.note_message {
    font-size: 15px;
    font-style: italic;
}

.likes_count,.comments_count {
    font-size: 14px;
}

.send_icon:hover{
    transform: translateX(5px);
    transition: 0.2s ease-in-out;
}

.bg_image {
    background-size: cover !important;

}
.bg_text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bg_button {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.a {
    position: relative;
}

.a:after {
    content: "";
    position: absolute;
    background-color: rgb(19,181,208);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -0.1px;
    transition: 0.3s;
}

.a:hover:after {
    width: 100%;
}
.home_property_display,.property_display {
    box-shadow: rgb(0, 0, 0) 7px 9px;
}

